@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME USERS</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">BE - III CSE</a>.</p>
</div>
